
.about-content img {
    margin: 40px 0px 10px 0px;
    width: 598px;
    border: 1px solid orangered;
}

.about-content p {
    color: darkkhaki;
}

.about-content ul {
    padding-top: 10px;
}

.about-content li {
    list-style: disc;
    list-style-position: inside;
    color: darkkhaki;
}

.about-content li a {
    color: darkkhaki;
}

.about-content li a:hover {
    color: yellow;
}