.discog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.discog-item {
    padding-top: 40px;
    width: 282px;
}

.discog-item img {
    margin-bottom: 10px;
    width: 280px;
    float: left;
    border: 1px solid orangered;
}

.discog-item-text h2, h3 {
    font-weight: unset;
    color: orangered;
}

.discog-item-text h4 {
    font-weight: unset;
    color: orangered;
}

.discog-item-text p {
    padding-top: 10px;
    color: darkkhaki;
}

.discog-item-text ul {
    padding-top: 10px;
}

.discog-item-text li {
    color: darkkhaki;
    list-style-position: inside;
}

.discog-item-text a {
    color: darkkhaki;
}

.discog-item-text a:hover {
    color: yellow;
}