
.home-img {
    margin-top: 40px;
    border: 1px solid var(--accent-color);
}

.home-img img {
    width: 598px;
}

.home-img p {
    color: var(--accent-color);
    padding-left: 10px;
}

.recent-release {
    padding-top:  40px;
}

.recent-release-text {
    float: right;
    margin: 10px 0px 0px 20px;
    width: 280px;
}

.recent-release h2, h3, h4 {
    color: var(--accent-color);
    font-weight: unset;
}

.recent-release img {
    margin-top: 10px;
    width: 280px;
    border: 1px solid var(--accent-color);
}

.recent-release p {
    padding-top: 10px;
    color: var(--text-color);
}

.recent-release ul {
    padding-top: 10px;
}

.recent-release li {
    list-style: disc;
    list-style-position: inside;
    color: var(--text-color);
}

.recent-release li a {
    color: var(--text-color);
}

.recent-release li a:hover {
    color: var(--link-color);
}