@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerif.woff) format('woff');
}

@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerifBold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerifBoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerifItalic.woff) format('woff');
    font-style: italic;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'gnu-freeserif', serif;
}

:root {
    --accent-color: orangered;
    --text-color: darkkhaki;
    --link-color: yellow;
    --bg-color: black;
}

.viewport-background {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.main-contain {
    width: 600px;
    margin: auto;
}

.title-banner img {
    width: 600px;
    margin-top: 40px;
}

.nav-bar {
    padding-top: 10px;
    border-bottom: 1px solid var(--accent-color);
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    margin: 0px 0px 0px 0px;
    padding: 0px 4px 0px 4px;
    font-style: italic;
    color: var(--accent-color);
    text-decoration: none;
}

.nav-bar a:hover {
    color: var(--link-color);
}

.nav-bar img {
    height: 20px;
}

.tint-container {
  background-color: orangered;
  width: fit-content;
}

.tint-container img {
  display: block;
  mix-blend-mode: multiply;
}


.footer {
    margin-top: 40px;
    border-top: 1px solid var(--accent-color);
}

.align-l {
    float: left;
    width: 33.33333%;
    text-align: left;
}
.align-c {
    float: left;
    width: 33.33333%;
    text-align: center;
}
.align-r {
    float: left;
    width: 33.33333%;
    text-align: right;
}

.footer p {
    color: var(--accent-color);
    padding: 4px 0px 12px 0px;
}

.footer a {
    color: var(--accent-color);
}

.footer a:hover {
    color: var(--link-color);
}

.footer img {
    width: 600px;
}