@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerif.woff) format('woff');
}

@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerifBold.woff) format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerifBoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'gnu-freeserif';
    src: url(/resources/fonts/gnu-freefont/FreeSerifItalic.woff) format('woff');
    font-style: italic;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'gnu-freeserif', serif;
}

.viewport-background {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.main-contain {
    width: 600px;
    margin: auto;
}

.title-banner img {
    width: 600px;
    margin-top: 40px;
}

.nav-bar {
    padding-top: 10px;
    border-bottom: 1px solid orangered;
}

.nav-bar li {
    display: inline;
}

.nav-bar a {
    margin: 0px 0px 0px 0px;
    padding: 0px 4px 0px 4px;
    font-style: italic;
    color: orangered;
    text-decoration: none;
}

.nav-bar a:hover {
    color: yellow;
}

.footer {
    margin-top: 40px;
    border-top: 1px solid orangered;
}

.align-l {
    float: left;
    width: 33.33333%;
    text-align: left;
}
.align-c {
    float: left;
    width: 33.33333%;
    text-align: center;
}
.align-r {
    float: left;
    width: 33.33333%;
    text-align: right;
}

.footer p {
    color: orangered;
    padding: 10px 0px 10px 0px;
}

.footer a {
    color: orangered;
}

.footer a:hover {
    color: yellow;
}

.footer img {
    width: 600px;
}